:root {
  --bg-color: #f8f8f8;
  --text-color: #222;
  --primary-color: #007bff;
  --secondary-text-color: #6c757d;
  --card-bg-color: #fff;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root {
  padding: 0;
}

body {
  margin: 0;
}

.App {
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  padding: 2rem;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

.TonConnectButton {
  align-self: flex-start;
}

.TonConnectButton > button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.TonConnectButton > button:hover {
  background-color: #0056b3;
}

.Card {
  background-color: var(--card-bg-color);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
  text-align: left;
}

.Card b {
  font-weight: 600;
  display: block;
  margin-bottom: 0.5rem;
}

.Hint {
  color: var(--secondary-text-color);
  font-size: 0.9rem;
}

.Button {
  background-color: var(--primary-color);
  color: white;
  display: block;
  padding: 0.75rem 1.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
}

.Button:hover {
  background-color: #0056b3;
}

.Disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.Disabled:hover {
  background-color: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #181818;
    --text-color: #eee;
    --card-bg-color: #222;
    --primary-color: #29abe2;
    --secondary-text-color: #aaa;
  }

  .Card {
    background-color: var(--card-bg-color);
    box-shadow: 0 0.125rem 0.25rem rgba(255, 255, 255, 0.08);
  }
  .TonConnectButton > button {
    background-color: var(--primary-color);
    color: var(--text-color);
  }

  .TonConnectButton > button:hover {
    background-color: #1e86b8;
  }
  .Button {
    background-color: var(--primary-color);
    color: var(--text-color);
  }

  .Button:hover {
    background-color: #1e86b8;
  }
}